// Page-specific, non-repeating styles here

.landing-container {
  overflow: hidden;
  background-color: rgba(0,0,0,0.75);
  border-top: 1px solid rgba(255,255,255,0.8);
  border-bottom: 1px solid rgba(255,255,255,0.8);
  .landing-msg {
    text-align: center;

    h1 {font-size: 1.5em;}
    .tagline {
      padding: 0.5em;
      font-family: monospace;
    }


    .landing-link {
      padding: 0.5em;
    }

    a {text-align:right;}
    a:hover {
      .landing-link {
        background-color: white;
        color: black;
        cursor: pointer;
      }
    }
  }
}

// Centered content for the contact page
.contact-container {
  text-align: center;
  a {
    cursor: pointer;
    &:hover {
      color: rgb(103,119,128);
    }
  }
}

// Each project in the code section
.code-project-url {
  &:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}
