<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <div class="video-container">
      <video id="bgLoop"loop="true" preload autoplay muted>
        <source src="https://github.com/tmalard/tmalard.github.io/blob/source/assets/bg.mp4?raw=true" type="video/mp4">
      </video>
    </div>
    <div id='content'>
      <div id="landing-page">
        {{ content }}
      </div>
    </div>
    <a href="/" id="rsdz">tmalard</a>
  </body>
  <script>document.getElementById("bgLoop").play()</script>
</html>
